@import "../../styleconfig/index";

$border_width: 1px;

.paginator {
  @include closable;
  border-top: $border_width solid $paginator_border_color;
  margin-top: -$border_width;
  white-space: nowrap;
  x-overflow: auto;

  &__page {
    @include huge-text;
    font-weight: bold;
    color: $base_font_color;
    display: inline-block;
    height: 100%;
    width: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    margin: 0 2px;
    cursor: pointer;
    background: $paginator_default_page_background_color;

    &_selected {
      color: $item_selected_font_color;
      background: $paginator_selected_page_background_color;
    }
  }
}
