@import "../../styleconfig/index";

$paginatorHeight: 50px;
$itemHeight: 100px;
$buttonHeight: 30px;
$buttonWidth: 200px;

.good-list {
  @include common-layout;
  list-style-type: none;
  display: table;
  background: $good_list_bacground_color;

  &__list {
    @include closable;
    height: calc(100% - #{$paginatorHeight});
    overflow-y: auto;
    min-width: 1060px;
    padding: 10px;
  }

  &__good {
    height: $itemHeight;
    background: $good_item_background_color;
    padding: 2px 10px;
    margin: 5px;
    border-radius: 5px;
  }

  &__link {
    display: block;
  }

  &__price {
    @include enormous-text;
    color: $price_font_color;
    font-weight: bold;
    text-align: left;
    float: right;
  }

  &__photo,
  &__info,
  {
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
  }

  &__info {
    padding-left: 40px;
    max-width: 530px;
  }

  &__name {
    @include header-text;
    color: $base_font_color;
    font-weight: bold;
  }

  &__cathegory {
    @include tiny-text;
    color: $additional_font_color;
    font-style: italic;
  }

  &__paginator {
    height: $paginatorHeight;
    line-height: $paginatorHeight;
  }

  &__button-place {
    height: $itemHeight;
    padding: 0 20px;
    float: right;
    vertical-align: middle;
  }

  &__button {
    @include large-text;
    text-align: center;
    color: $base_font_color;
    border-radius: 5px;
    height: $buttonHeight;
    width: $buttonWidth;
    line-height: $buttonHeight;
    padding: 0;
    box-sizing: content-box;
    margin: ($itemHeight - $buttonHeight) / 2;
  }

  &__item-id {
    @include small-text;
    color: $special_font_color;
  }
}