@import "../../styleconfig/index";

$borderRadius: 5px;
$placesMarging: 2px;
$switcherPalcePadding: 7px;

.good-form {
  @include expanded;
  position: relative;

  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10px;
    padding: 2px;
    background: $additional_background_color;
    border-radius: $borderRadius;
  }

  &__switcher-place {
    height: $switcherHeight;
    border-radius: $borderRadius;
    background: $good_item_background_color;
    margin-bottom: $placesMarging;
    padding: $switcherPalcePadding;
  }

  &__switcher-title {
    @include menu-text;
    height: $switcherHeight;
    vertical-align: middle;
    line-height: $switcherHeight;
    display: inline-block;
    float: right;
    margin-right: 5px;
  }

  &__switcher {
    float: right;
  }

  &__data-place {
    height: calc(100% - #{$switcherHeight} - #{$placesMarging} - #{2 * $switcherPalcePadding});
    border-radius: $borderRadius;
    overflow-y: auto;
    background: $good_item_background_color;

    .data {
      border-radius: $borderRadius;
    }
  }
}