@import "../../mixins/index";

$headerHeight: 100px;

.carcass {
  @include common-layout;
  position: relative;

  &__header {
    @include header-text;
    height: $headerHeight;
  }

  &__data {
    position: absolute;
    top: $headerHeight;
    bottom: 0;
    display: table;
    @include common-layout;
  }

  &__cell {
    @include closable;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &_navigator {
      background: #0ff;
      width: 270px;
    }

    &_goods {}
  }

  &__title {
    @include title;

    &_navigator {
      padding: 5px 15px;
      font-weight: bold;
    }
  }
}
