@import "../../styleconfig/index";

$headerHeight: 100px;

.carcass {
  @include common-layout;

  &__header {
    @include header-text;
    height: $headerHeight;
  }

  &__data {
    display: table;
    @include closable;
    width: 100%;
    height: calc(100% - #{$headerHeight});
  }

  &__cell {
    @include closable;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &_navigator {
      background: $base_background_color;
      width: 270px;
    }

    &_goods {}
  }

  &__title {
    @include title;

    &_navigator {
      padding: 5px 15px;
      font-weight: bold;
    }
  }
}
