@import "../../styleconfig/index";

$headerHeight: 100px;
$navigatorWidth: 270px;

.carcass {
  @include common-layout;
  position: relative;

  &__header {
    @include header-text;
    height: $headerHeight;
  }

  &__data {
    position: absolute;
    top: $headerHeight;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__cell {
    @include closable;
    display: inline-block;
    vertical-align: top;
    height: 100%;

    &_navigator {
      background: $base_background_color;
      width: $navigatorWidth;
    }

    &_goods {
      width: calc(100% - $navigatorWidth);
    }
  }

  &__title {
    @include title;

    &_navigator {
      padding: 5px 15px;
      font-weight: bold;
      color: $special_font_color;
    }
  }
}
