@import "../../styleconfig/index";

.cathegory-selector {
  @include closable;

  list-style-type: none;
  width: 100%;

  &__cathegory {
    @include menu-text;
    color: $base_font_color;
    background: $base_item_background_color;
    padding: 5px 15px;
    margin: 1px 0;
    cursor: pointer;

    &:hover {
      background: $hovered_item_background_color;
      font-style: italic;
    }

    &_inline {
      display: inline-block;
      vertical-align: top;
    }

    &_selected {
      background: $selected_item_background_color;
      color: $item_selected_font_color;
      font-weight: bold;
    }
  }
}